.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}




.titulo-pagina {
    font-size: 25px;
    height: 32px;
    font-weight: 700;
    margin: 0.3em 0em;
}

.titulo-secao {
    font-size: 20px;   
    font-weight: 700;

}

@media screen and (min-width: 1024px) {
    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina"
            "destaque-video destaque-video videos-recentes"
            "secao-videos secao-videos secao-videos"
            "produtos-recentes destaque-produtos destaque-produtos"
            "secao-produtos secao-produtos secao-produtos video__sobre-tony"       
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    

    .titulo-pagina {
        font-size: 32px;
        height: 32px;
        font-weight: 700;
        margin: 0.5em 0em;
    }
    
    .titulo-secao {
        font-size: 38px;
        height: 32px;
        font-weight: 700;
        margin: 1em 0em;
        grid-column: span 4;
    }
}

.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao__imagem--desktop {
    display: none;
}

.cartao--destaque {
    margin-bottom: 16px;
}

.cartao__conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao__destaque {
    grid-column: span 2;
}

.cartao__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao__perfil {
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao__info {
    display: flex;
    align-items: center;
    color: #95999C;
}


.cartao__botao--picos::before{
    content: "\e908";
    font-size: 24px ;

}

.cartao__info--dinheiro::before{
    content: "\e905";
    font-size: 24px ;
}

.cartao__botao--compra::before{
    content: "\e901";
    font-size: 24px ;
}

.cartao__info--tempo::before {
    content: "\e90c";
    margin-right: 8px;    
}

.cartao__info--visualizacao::before {
    content: "\e90f";
    margin-right: 8px;    
}

.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao__botao--play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}

.cartao--recentes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cartao--destaque {
        margin-bottom: 0;
    }

    .cartao__imagem--mobile {
        display: none;
    }

    .cartao__imagem--desktop {
        display: block;
    }

    .cartao__botao--destaque {
        grid-column: auto;
        padding: 16px 8px;
    }

    .cartao--recentes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .cartao--recentes .cartao__titulo {
        grid-column: auto;
    }

    .cartao__link {
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480DC;
        justify-self: flex-end;
    }
    
    .cartao__lista {
        display: grid;
        row-gap: 40px;
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-size: 16px;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil {
        font-size: 0.8rem;
        color: #95999C;
    }
}